@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  margin: 0px;
  overflow: hidden;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 50px;
}

#leaderboard {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  font-size: 50px;
  background-color: transparent;
  border: none;
}

#endUI {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a3638;
  width: 500px;
  height: 500px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.textInput {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: 30px;
  transition: all 0.25s linear;
  margin: 5px;
  width: 200px;
  display: block;
}

.textInput:focus {
  border-bottom: 2px solid #c0392b;
  outline: 0px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 5px;
  border: 0px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #c0392b;
}

#lb_Screen {
  width: 100vw;
  height: 100vh;
  background-color: #2a3638;
  display: none;
  justify-content: center;
  align-items: center;
}

#lbTitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

#lbListItem {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
